.uploader {
  &__dragger {
    padding: 10px 0;
  }

  &__controls {
    padding-top: 20px;

    &--channel {
      padding-top: 20px;
    }
    &--label {
      margin-right: 10px;
      font-weight: 600;
    }
  }
}
